#tweets
{
    margin: 10px;

    background-color: #a0d8ef;
}
#tweets ul
{
    position: relative;

    list-style: none;
}
#tweets ul li
{
    font-size: 10px;

    position: absolute;

    width: 300px;
    padding: 75px;

    -webkit-animation: fluffy 5s ease infinite;
       -moz-animation: fluffy 5s ease infinite;
         -o-animation: fluffy 5s ease infinite;
            animation: fluffy 5s ease infinite;

    border-radius: 50%;
    background-color: rgba(255,255,255,.8);
}
#tweets ul li div.tweet div.image
{
    position: relative;

    overflow: hidden;

    width: 300px;
    height: 200px;
}
#tweets ul li div.tweet div.image img
{
    position: absolute;
    top: 50%;
    left: 50%;

    width: auto;
    max-width: 100%;
    height: auto;
    max-height: 100%;

    -webkit-transform: translate3d(-50%, -50%, 0);
            transform: translate3d(-50%, -50%, 0);
}
@-moz-keyframes fluffy
{
    0%
    {
        transform: translateY(0);
    }
    50%
    {
        transform: translateY(10px);
    }
    100%
    {
        transform: translateY(0);
    }
}
@-webkit-keyframes fluffy
{
    0%
    {
        transform: translateY(0);
    }
    50%
    {
        transform: translateY(10px);
    }
    100%
    {
        transform: translateY(0);
    }
}
@-o-keyframes fluffy
{
    0%
    {
        transform: translateY(0);
    }
    50%
    {
        transform: translateY(10px);
    }
    100%
    {
        transform: translateY(0);
    }
}
@keyframes fluffy
{
    0%
    {
        transform: translateY(0);
    }
    50%
    {
        transform: translateY(10px);
    }
    100%
    {
        transform: translateY(0);
    }
}
